[flake8]
max-line-length = 120

ignore =
    B008,
    # Do not call setattr with a constant attribute value
    B010,
    # Possible hardcoded password
    S105

per-file-ignores =
    */__init__.py:
        # imported but unused
        F401
        # unable to detect undefined names
        F403
    performance_tests/utils.py:
        # prints ignore
        T201
    performance_tests/*:
        # hardcoded password
        S106
        # possible sql injection
        S608
    *tests/*: S101, C812
