version: '3.5'

services:
  zookeeper:
    image: zookeeper
    container_name: zookeeper
    hostname: zookeeper

  clickhouse-node1:
    build:
      context: infra/clickhouse/.
      args:
        - NODE=node1
    container_name: clickhouse-node1
    hostname: clickhouse-node1
    ports:
      - "8123:8123"
      - "9000:9000"
    depends_on:
      - zookeeper

  clickhouse-node2:
    build:
      context: infra/clickhouse/.
      args:
        - NODE=node2
    container_name: clickhouse-node2
    hostname: clickhouse-node2
    depends_on:
      - zookeeper

  clickhouse-node3:
    build:
      context: infra/clickhouse/.
      args:
        - NODE=node3
    container_name: clickhouse-node3
    hostname: clickhouse-node3
    depends_on:
      - zookeeper

  clickhouse-node4:
    build:
      context: infra/clickhouse/.
      args:
        - NODE=node4
    container_name: clickhouse-node4
    hostname: clickhouse-node4
    depends_on:
      - zookeeper
